
root = true

[*.{c,h,cpp}]
charset = utf-8
end_of_line = lf
indent_style = tab
insert_final_newline = true
tab_width = 4
max_line_length = 80
trim_trailing_whitespace = true

[CMakeLists.txt]
max_line_length = 80

